.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
dist
build
out
.next
*.tsbuildinfo
.nx
.nx/cache
tmp
.nx/workspace-data
coverage
*.lcov
.nyc_output
junit.xml
test-results
playwright-report
playwright/.cache
node_modules